name: Deploy to Cloud Run

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: prod

    steps:
      - name: Récupérer le code
        uses: actions/checkout@v4

      - name: Installer gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ env.PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true

      - name: Auth Docker pour gcr.io
        run: gcloud auth configure-docker gcr.io

      - name: Build & Push image (JAR)
        run: |
          docker build -t "$IMAGE" .
          docker push "$IMAGE"

      - name: Déployer sur Cloud Run (avec Cloud SQL)
        run: |
          gcloud run deploy "$SERVICE" \
            --image "$IMAGE" \
            --platform managed \
            --region "$REGION" \
            --allow-unauthenticated \
            --service-account "$SERVICE_ACCOUNT_EMAIL" \
            --update-secrets RSA_PUBLIC_KEY=SECRET_KEY_PUBLIC:latest \
            --add-cloudsql-instances "$CLOUDSQL_INSTANCE" \
            --timeout=300

      - name: Afficher l’URL du service
        run: gcloud run services describe "$SERVICE" --region "$REGION" --format='value(status.url)'